:root {
  max-width: fit-content;
  margin: auto;
  margin-top: 1rem;
  text-align: center;
}

header {
  position: sticky;
  left: 0;
  top: 0;
  width: 100;
  border: 1px solid black;
  display: block;
  margin-bottom: 10px;
  background-color: white;
}

img {
  width: inherit;
}

button {
  border: 1px solid black;
}

.nav-grid {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: 100%;
}
#home-button {
  background-color: aquamarine;
  grid-column: 1/2;
}
.article-list-card {
  border: 1px solid black;
  padding: 20px;
  border-radius: 1px;
  margin: 10px;
  width: 70vw;
}

.flex-space-between {
  display: flex;
  justify-content: space-around;
}

.article-page {
  border: 1px solid black;
  padding: 20px;
  border-radius: 1px;
  margin: 10px;
  width: 80vw;
}

.comment-container {
  border: 1px solid black;
  width: 80vw;
  height: fit-content;
  padding: 20px;
  margin: 10px;
}

ul {
  list-style-type: none;
}
.topic-items {
  position: absolute;
  top: 20px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: white;
  width: 50vw;
  line-height: 50px;
}

.topic-item {
  display: block;
}
