body {
  max-width: fit-content;
  margin: auto;
  margin-top: 1rem;
  text-align: center;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;

  border: 1px solid black;
}

img {
  width: inherit;
}

button {
  border: 1px solid black;
}

.article-list-card {
  border: 1px solid black;
  padding: 20px;
  border-radius: 1px;
  margin: 10px;
  width: 70vw;
}

#topic-and-author {
  display: flex;
  justify-content: space-around;
}

#votes-and-comments {
  display: flex;
  justify-content: space-around;
}

.article-page {
  border: 1px solid black;
  padding: 20px;
  border-radius: 1px;
  margin: 10px;
  width: 80vw;
}

.comment-container {
  border: 1px solid black;
  width: 80vw;
  height: fit-content;
  padding: 20px;
  margin: 10px;
}
